@functions {
    public string IsActive(string area, string controller, string action = null)
    {
        var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

        bool isActive = (currentArea == area) && (currentController == controller) &&
                        (action == null || currentAction == action);

        return isActive ? "active" : "";
    }
}


<nav class="sidebar p-2" id="sidebar">
    <div class="d-flex justify-content-between align-items-center sidebar-header mb-4">
        <h2 class="fs-4 mb-0">QwikTest</h2>
        <button class="toggle-btn" onclick="toggleSidebar()">
            <i class="bi bi-list"></i>
        </button>
    </div>

    <ul class="nav flex-column mt-3">
        <!-- Calender -->
        <li class="nav-item">
            <a  asp-controller="Student" asp-action="Index" asp-area="Instructor" class="sidebar-link nav-link text-white rounded-0 @IsActive("Instructor","Student","Index")">
                <i class="bi bi-person"></i> <span class="ms-2">Students</span>
            </a>
            <a asp-controller="Course" asp-action="Index" asp-area="Instructor" class="sidebar-link nav-link text-white rounded-0 @IsActive("Instructor","Course","Index")">
                <i class="bi bi-person"></i> <span class="ms-2">Courses</span>
            </a>
            <a asp-controller="GeneratedExam" asp-action="Index" asp-area="Instructor" class="sidebar-link nav-link text-white rounded-0 @IsActive("Instructor","GeneratedExam","Index")">
                <i class="bi bi-person"></i> <span class="ms-2">Generated Exams</span>
            </a>
        </li>
     
   
    </ul>
</nav>