@{
    ViewData["Title"] = "Reports";
    Layout = "~/Areas/Instructor/Views/Shared/_Layout.cshtml";

}
<div>
    <h2>Sales Report</h2>
    <iframe src="http://localhost/ReportServer/Pages/ReportViewer.aspx?%2fReports%2fGetTopicsByCourseID&rs:Command=Render"
            width="100%"
            height="800px"
            style="border:none;">
    
    </iframe>
</div>
