@model GeneratedExamMV
@{
    Layout = null;
}
<form id="Instructor-GenerateExam-Form">
<div class="modal-body mx-3">
 <h5 class="mb-3" style="border-bottom: 2px solid var(--primary-color); padding-bottom: 5px; color:var(--primary-color)">Main Info</h5>
 
      
        <div class="row g-2 mb-3">
            
            <div class="col-md-4">
                <select id="branchId" class="form-select" asp-for="DepartmentBranch.BranchId" name="BranchId" onchange="InstructorGeneratedExam.GetDepartmentsByBranchId()">
                    <option value="">Choose Branch...</option>
                    @foreach (var branch in ViewBag.Branches)
                    {
                        <option value="@branch.Id">@branch.Name</option>
                    }
                </select>
            </div>
            
            <div class="col-md-4">
                <select class="form-select" name="DepartmentId" asp-for="DepartmentBranch.DepartmentId" id="departmentDropdown" onchange="InstructorGeneratedExam.GetExamsByBranchInstructorDepartment()">
                    <option value="">Choose Department...</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select" asp-for="ExamId" name="ExamId"  id="examsmentDropdown">
                    <option value="">Choose Exam...</option>
                  
                </select>
            </div>
        </div>

       
        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <input type="number" class="form-control" name="NumsTS" placeholder="Enter Number Of True/False Questions" min="0" />
            </div>
            <div class="col-md-6">
                <input type="number" class="form-control" name="NumsMCQ" placeholder="Enter Number Of MCQ Questions" min="0" />
            </div>
        </div>

      
        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <input type="time" asp-for="TakenTime" class="form-control" name="takenTime" />
            </div>
            <div class="col-md-6">
                <input type="date" asp-for="TakenDate" class="form-control" name="TakenDate" />
            </div>
        </div>


           
</div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn advanced-search-btn" onclick="InstructorGeneratedExam.GenerateExam(event)">Save Data</button>
    </div>


</form>
<partial name="_ValidationScriptsPartial" />


<script>
    $(document).ready(function(){
    });
</script>



