<label for="ExamId">Exam</label>
<select id="ExamId" name="ExamId" required>
    <option value="">Select Exam to assign question to...</option>
    <option value="HTML">HTML</option>
    <option value="CSS">CSS</option>
    <option value="JavaScript">JavaScript</option>
</select>
<!-- question -->
<label for="Question">Question</label>
<textarea id="Question" name="Question" rows="3" required></textarea>

<div class="options" id="optionsContainer">
    <div class="option-box">
        <label>Option 1</label>
        <input type="text" name="option" required />
        <label>
            <input type="radio" name="correctAnswer" value="0" required /> Correct
            Answer
        </label>
    </div>

    <div class="option-box">
        <label>Option 2</label>
        <input type="text" name="option" required />
        <label><input type="radio" name="correctAnswer" value="1" /> Correct Answer</label>
    </div>
</div>
<!-- Question Setting -->

<button type="button" class="add-option" onclick="addOption()">Add Option</button>
<!-- exam Level -->
<label for="level">Exam</label>
<select id="level" name="level" required>
    <option value="">Select Exam Level ...</option>
    <option value="HTML">Easy</option>
    <option value="CSS">Medium</option>
    <option value="JavaScript">Hard</option>
</select>
<!-- question -->
<label for="Degree" class="mt-5">Degree</label>
<input type="number" name="Degree" ; required />
<!-- isactive -->
<div class=" mt-5">
    <label for="Active">Active (Shown Everywhere). <br>In-active (Hidden Everywhere).</label>
    <label class="switch">
        <input type="checkbox" id="activeSwitch" onchange="toggleActiveText()">
        <span class="slider round"></span>
    </label>
    <div id="statusText">Inactive</div> <!-- Text that will change -->
</div>