
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-light bg-light px-3">
    <ul class="navbar-nav d-flex flex-row align-items-center ms-auto">
        <!-- Notification Icon -->
        <li class="nav-item me-3">
            <i class="bi bi-bell notification-icon"></i>
        </li>

        <!-- Profile Dropdown -->
        <li class="nav-item dropdown">
            <div class="profile-container">
                <a class="nav-link d-flex align-items-center text-decoration-none" href="profile.html"
                   id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/public/imgs/profile.png" alt="Profile" class="profile-img">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="profile.html"><i class="bi bi-person-circle me-2"></i> Profile</a></li>
                    <li>
                        <a class="dropdown-item text-danger" href="logout.html">
                            <i class="bi bi-box-arrow-right me-2"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>