@functions {
    public string IsActive(string area, string controller, string action = null)
    {
        var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

        bool isActive = (currentArea == area) && (currentController == controller) &&
                        (action == null || currentAction == action);

        return isActive ? "active" : "";
    }

    public string ISExamDropDownActive()
    {
        var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
        if (currentArea == "Student" && (currentController == "CommingExam") && (currentAction == "Index"))
        {
            return "active";
        }
        else
        {
            return "";
        }
    }
}

<nav class="sidebar p-2" id="sidebar">
    <div class="d-flex justify-content-between align-items-center sidebar-header mb-4">
        <h2 class="fs-4 mb-0">QwikTest</h2>
        <button class="toggle-btn" onclick="toggleSidebar()">
            <i class="bi bi-list"></i>
        </button>
    </div>

    <ul class="nav flex-column mt-3">
        <!-- Calender -->
        <li class="nav-item mt-2">
            <a href="Dashbord.html" class="sidebar-link  nav-link text-white">
                <i class="bi bi-calendar"></i> <span class="ms-2">Calendar</span>
            </a>
        </li>
        <!-- Courses -->
        <li class="nav-item mt-2">
            <a asp-controller="Courses" asp-action="Index" asp-area="Student" class="sidebar-link nav-link text-white rounded-0 @IsActive("Student","Courses","Index")">
                <i class="bi bi-book"></i> <span class="ms-2">Courses</span>
            </a>
        </li>
        <!-- Exams -->
        <li class="nav-item mt-2  rounded-0 sidebar-link">
            <a href="" class="nav-link text-white d-flex align-items-center @ISExamDropDownActive() rounded-0" data-bs-toggle="collapse"
               data-bs-target="#examDropdown" aria-expanded="false">
                <i class="bi bi-pencil"></i> <span class="ms-2">Exams</span>
                <span class="ms-auto dropdown-icons">
                    <i class="bi bi-caret-down-fill down-icon"></i>
                    <i class="bi bi-caret-up-fill up-icon"></i>
                </span>
            </a>
            <ul class="collapse list-unstyled ms-3 mt-3" id="examDropdown">
                    <a asp-controller="CommingExam" asp-action="Index" asp-area="Student" class=" nav-link text-white rounded-0 @IsActive("Student","CommingExam","Index")">
                    <span class="">Comming Exam</span>
                    </a>
              
            </ul>
            <ul class="collapse list-unstyled ms-3 mt-3" id="examDropdown">
                <a asp-controller="PreviousExam" asp-action="Index" asp-area="Student" class=" nav-link text-white rounded-0  @IsActive("Student","PreviousExams","Index")">
                    <span class="">Previous Exam</span>
                </a>

            </ul>
        </li>
    </ul>
</nav>