@model PaginatedData<CourseMV>
@using Examination.PL.General;

@{
    Layout = null;
    var grades = ViewBag.Grades as Dictionary<int, int?>;
}
<input type="hidden" id="TotalCount" value="@Model.TotalCount" />
<h2 class="mb-4 text-center" style="color: #40277b;">Choose Course</h2>
<div class="container mt-5">
	 @if (Model.Items.Count() == 0)
        {
            
                <h3 colspan="6" class=" alert-info text-center">No data found</h3>
           
        }
        else
        {
        <div class="grid-container">
            @foreach (var item in Model.Items)
            {
                var grade = grades?.GetValueOrDefault(item.Id);
                bool hasGrade = grade.HasValue;

                string gradeClass = "";
                 
                if (hasGrade)
                {
                    gradeClass = grade < 50 ? "failed" : "graded";
                }

                <a href="/Student/Courses/Details?Courseid=@item.Id" class="card-link">
                    <div class="course-card">
                        <img src="~/public/courses/@item.ImgUrl" alt="Web Development" class="background-img">
                        <div class="course-title @gradeClass">@item.Name</div>
                    </div>
                </a>
            }
        </div>
        }

</div>



