.a {
    text-decoration: none;
}

.Animationsearch {
    width: 10px;
    transition: width 0.8s ease-in-out;
}

    .Animationsearch:focus {
        width: 200px;
    }

.form-control {
    flex-grow: 1;
    margin-right: 8px;
}

.btn {
    white-space: nowrap;
}

.form-control, .btn {
    height: 38px;
}

.searchbtn {
    background-color: #40277b;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

.advanced-search-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0;
}

.btn-Results {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

    .btn-Results:hover {
        color: #f3722e;
    }

.btn-save {
    background-color: #40277b;
    color: white;
    border-radius: 25px;
    padding: 5px 10px;
    border: none;
}

.sort-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #f9f9f9;
    padding: 0;
}

.data-table thead th {
    background-color: #40277b;
    color: #ffffff;
    font-weight: bold;
}

.advanced-search-btn {
    position: relative;
    z-index: 1;
}

.dropdown {
    position: relative; /* Ensure the dropdown container is relative */
}



.dropdown-menu {
    position: absolute;
    margin-top: 0;
    top: 50px;
    right: 0 !important;
    left: 0 !important;
    transform: translateY(0px) !important;
    transform: translateX(230px) !important;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
}

.rm-control, .form-select {
    width: 100%;
}

.btn-save {
    background-color: #40277b;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 8px 16px;
}

    .btn-save:hover {
        background-color: #301e5a;
    }

/* Label styling for clarity and better visual */
.label {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
    /
}


/* Custom Pagination Colors */
.pagination .page-link {
    color: #40277b;
    background-color: #f6f6f6;
    border-color: #301e5a;
}

    .pagination .page-link:hover {
        color: #ffffff;
        background-color: #301e5a;
        border-color: #24143c;
    }

.pagination .page-item.active .page-link {
    color: #ffffff;
    background-color: #24143c;
    border-color: #24143c;
}
